<div class="jumbotron">
  <h1>Unite Map powered by UN Vector Tile Toolkit.</h1>
  <p class="lead">This sample map app is based on the Microsoft Graph API (Node.js Graph Tutorial)</p>
  <p class="lead">The United Nations Vector Tile Toolkit (UNVT) is a collection of Open Source Software (OSS) to produce, host, style and optimize vector tiles for web mapping.</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
    <p><h5>What's new?</h5>
       2021-03-26: Launch of new server repository<br>
<p>
<h4>Map APP</h4>
<h5><a href="./map">map </a></h5>
with Mapbox-gl.js version 1<br>
Tile URL:<br>
<ol>
<li>un-small https://XXX/un-s/{z}/{x}/{y}.pbf </li>
<li>osm-small https://XXX/osm-s/{z}/{x}/{y}.pbf </li>
<li>un-large https://XXX/vtile-m/zxy/un-z5/{z}/{x}/{y}.pbf </li>
<li>osm-large https://XXX/vtile-m/zxy/osm-z456/{z}/{x}/{y}.pbf </li>
</ol>

</p>



  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>

